{% extends 'core/base.html' %}
{% block titulo %}
<h1 class="logout">Productos: Cambiar una Categoría de Productos</h1>
{% endblock titulo %}

{% block contenido %}
<div class="container mt-5">
    <form method="post" class="col-md-6">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col text-center">
            <a href="{% url 'producto:productocategoria_list' %}" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</div>
{% endblock contenido %}
