{% extends 'core/base.html' %}

{% block titulo %}
<h1 class="logout">Productos: Borrar un Producto</h1>
{% endblock titulo %}

{% block contenido %}
    
    <p class="fs-5 fst-italic">¿Confirma eliminar "{{ object.nombre }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar</button>
    </form>
    <div class="btn btn-secondary white" role="button">
        <a href="{% url 'producto:home' %}">Volver al inicio de Producto</a>
    </div>

{% endblock contenido %}