{% extends 'core/base.html' %}
{% block titulo %}
<h1 class="logout">Productos: Detalle de un Producto</h1>
{% endblock titulo %}

{% block contenido %}
<div class="container mt-5">
    <ul class="list-group">
        <li class="list-group-item">Nombre: {{ object.nombre }}</li>
    </ul>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col text-center">
            <a href="{% url 'producto:producto_list' %}" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</div>
{% endblock contenido %}
