{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<div class="row gx-4 gx-lg-5 align-items-center">
    <div class="col-lg-12 text-center">
        <h1 class="font-weight-light text-white">Nosotros</h1>
    </div>
</div>
{% endblock titulo %}
{% block contenido %}


    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="nosotros img-fluid rounded mb-4 mb-lg-0"
                 src="{% static 'core/img/nosotros.png' %}"
                 alt="..." />
        </div>
        <div class="col-lg-5">
            
            <p>
                Un desarrollador novato que, inspirado por una gran idea (y necesidad) de su hermano, se animó a crear esta aplicación. Nuestro objetivo es facilitar la gestión de turnos y permitir al personal de salud tener una historia clínica y una base de datos centralizada.

Con esta herramienta, esperamos que en el futuro se pueda coordinar el tratamiento de pacientes de manera conjunta, mejorando así la eficiencia y la calidad del cuidado médico. Siempre buscando ser nuestra mejor versión estamos abiertos a consultas o ideas que crean que puedan mejorar la experiencia del usuario.
            </p>
            <div>
                <a class="btn btn-secondary" href="{% url 'core:home' %}" role="button">Volver a Inicio</a>
            </div>
        </div>
    </div>


{% endblock contenido %}
