{% extends 'core/base.html' %}
{% block titulo %}
<h1 class="titulo-usuarios">Usuarios</h1>
{% endblock titulo %}
{% block contenido %}
    <div class="row row-cols-1 row-cols-md-2" id="usuarios">
        {% for usuario in usuarios %}
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ usuario.nombre }} {{ usuario.apellido }}</h2>
                        <p class="card-text text-muted">Nacimiento: {{ usuario.nacimiento }}</p>                           
                    
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-secondary" href="{% url 'core:home' %}" role="button">Volver a Inicio</a>
{% endblock contenido %}
